<ion-header>
  <ion-navbar color="dark">
    <ion-title><sub color="white">MARS</sub><sub ion-text color="primary">SERVICES</sub></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1></h1>
  <ion-item-divider color="dark">
    <h1 ion-text color="primary">Select Your Service</h1>
  </ion-item-divider>
  <p>

  </p>

<!--     <ion-icon name="ios-information-circle-outline"></ion-icon> -->
<!--             <ion-icon name="ios-arrow-forward"></ion-icon> -->
<!--             <button ion-button item-end icon-only clear>
        </button> -->

    <!-- <button (click)="load_housekeeping()"><img src="./assets/imgs/Housekeeping.png"/><h4>Housekeeping</h4></button> -->

    <!-- <ion-list> -->

<ion-list inset>
    <button ion-item color="services-font" (click)="load_carpetcleaning()"><img item-left src="./assets/imgs/Carpet Cleaning.png" height='50' width='50'><h2 ion-text color="primary">Carpet Cleaning</h2></button>
    <button ion-item color="services-font" (click)="load_housekeeping()"><img item-left src="./assets/imgs/Housekeeping.png" height='50' width='50'><h2 ion-text color="primary">Housekeeping</h2></button>
    <button ion-item color="services-font" (click)="load_plumbing()"><img item-left src="./assets/imgs/Plumbing.png" height='50' width='50'><h2 ion-text color="primary">Plumbing</h2></button>
    <button ion-item color="services-font" (click)="load_electrical()"><img item-left src="./assets/imgs/Electrical.png" height='50' width='50'><h2 ion-text color="primary">Electrical</h2></button>
    <button ion-item color="services-font" (click)="load_hvac()"><img item-left src="./assets/imgs/HVAC.png" height='50' width='50'><h2 ion-text color="primary">HVAC</h2></button>
    <button ion-item color="services-font" (click)="load_pestcontrol()"><img item-left src="./assets/imgs/Pest Control.png" height='50' width='50'><h2 ion-text color="primary">Pest Control</h2></button>
    <button ion-item color="services-font" (click)="load_painting()"><img item-left src="./assets/imgs/Painting.png" height='50' width='50'><h2 ion-text color="primary">Painting</h2></button>
    <button ion-item color="services-font" (click)="load_resurfacing()"><img item-left src="./assets/imgs/Resurfacing.png" height='50' width='50'><h2 ion-text color="primary">Resurfacing</h2></button>
    <button ion-item color="services-font" (click)="load_airdryerductcleaning()"><img item-left src="./assets/imgs/Air & Dryer Duct Cleaning.png" height='50' width='50'><h2 ion-text color="primary">Air&Dryer Duct Cleaning</h2></button>
    <button ion-item color="services-font" (click)="load_tilegrout()"><img item-left src="./assets/imgs/Tile & Grout.png" height='50' width='50'><h2 ion-text color="primary">Tile & Grout</h2></button>
    <button ion-item color="services-font" (click)="load_traumascenecleanup()"><img item-left src="./assets/imgs/Trauma Scene Clean-up.png" height='50' width='50'><h2 ion-text color="primary">Trauma Scene Clean-Up</h2></button>
    <button ion-item color="services-font" (click)="load_waterrestoration()"><img item-left src="./assets/imgs/Water Restoration.png" height='50' width='50'><h2 ion-text color="primary">Water Restoration</h2></button>
    <button ion-item color="services-font" (click)="load_maintenancemakeready()"><img item-left src="./assets/imgs/Maintenance & Make Ready.png" height='50' width='50'><h2 ion-text color="primary">Maintenance & Make Ready</h2></button>
</ion-list>

 <!-- <ion-list inset> -->
   <!-- <button ion-item *ngFor="let item of items" (click)="itemSelected(item)"><img src="./assets/imgs/Carpet Cleaning.png" height='50' width='50'>
     {{}}
   </button> -->
   <!-- </ion-list> -->
    <!-- <button ion-button color="services-font" (click)="load_housekeeping()"><img src="./assets/imgs/Housekeeping.png" height='50' width='50'><h4>Housekeeping</h4></button> -->
  <!-- <button ion-item *ngFor="let item of items" (click)="load_housekeeping()">
    {{ <h4>Housekeeping</h4> }}
  </button> -->

    <!-- <button (click)="load_housekeeping()"><h4>Housekeeping</h4></button>  -->


</ion-content>
